*{
    margin: 0;
    padding: 0;
    background-color: 6994B2;
}
.days-banner-section{
    background: url('./images/days-banner-section.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
