*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(35, 71, 59) ;
}
/* start <Learn section> */
.Learn-page-section-banner{
    background: url('./images/Learn-page-banner.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* start <Learn-page-section-cards> */
.learn-card-container{
    justify-content: space-between;
    padding: 1.5rem;
}
.Learn-page-section-cards{
    text-align: center;
    border-radius: 15px;
    transition: transform 0.3s;

}
.Learn-page-section-cards:hover{
    transform: scale(1.1);
    background-color: rgba(28, 29, 29, 0.788);
}
/* colse </Learn-page-section-cards> */

/* colse </Learn section> */