body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 150px;
    color: white;
    background-color: rgb(109, 109, 109);
  }

  #instructions {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.671);
    width: 50%;
  }

  #result {
    margin-top: 20px;
    font-weight: bold;
    color: green;
  }
  #guess{
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin: 30px;
  }
  #btn{
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.726);
    color: white;
    border-radius: 12px;
    border: none;
  }